body {
    font-family: Arial, sans-serif;
    background-color: #154687;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    color: #ffffff;
}

.form {
    margin-top: 20px;
}

input[type="url"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #FAE81D;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px auto;
    font-weight: 600;
}

#result {
    margin-top: 20px;
    font-weight: 600;
    font-size: large;
    color: white;
}

.hidden {
    display: none;
}
